{% extends 'layout.html' %}
        
{% block content %}
<div class="container">
    <div class="location">
        <a href="/" style="color: black;">Home</a>&nbsp;/&nbsp;
        <a>About Us</a>
    </div>
    <h2 class="text-main" style="padding-bottom: 50px;">About Us</h2>
    <div style="text-align: center; padding-bottom: 50px;">
        <img src="static/images/home/img3.png" width="400" height="300">
    </div>
    <div style="text-align:center;">
        <div style="display: inline-block;">
            <div style="font-size: 15px; padding-bottom: 8px;  text-align: left;">OKMilk was established in 2022.</div>
            <div style="font-size: 20px; padding-bottom: 3px;  text-align: left;">OKMilk is an e-commerce site. A place that sells various milk teas</div>
            <div style="font-size: 20px; padding-bottom: 3px;  text-align: left;">and many other waters to choose from. OKMilk is confident in its quality</div>
            <div style="font-size: 20px; padding-bottom: 3px;  text-align: left;">and excellent sales and fast delivery service.</div>
        </div>
    </div>
</div>
{% endblock %}